.thumbnail {
    max-width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    vertical-align: middle;
}

.main-grid {
    font-family: League Spartan, Arial;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    column-gap: 0;
    row-gap: 0;
    margin-bottom: 70px;
    border-radius: 10px;
    background-color: #db4a2b;
    align-items: center;
}

.movie-grid {
    font-family: League Spartan, Arial;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    column-gap: 0;
    row-gap: 0;
    margin-bottom: 70px;
    border-radius: 10px;
    background-color: #0f2698;
    align-items: center;
}

.Arcade-grid {
    font-family: League Spartan, Arial;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    column-gap: 0;
    row-gap: 0;
    margin-bottom: 70px;
    border-radius: 10px;
    background-color: #22005d;
    align-items: center;
}

.rrr-grid {
    font-family: League Spartan, Arial;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    column-gap: 0;
    row-gap: 0;
    margin-bottom: 70px;
    border-radius: 10px;
    background-color: #A66A2C;
    align-items: center;
}


.main-grid:hover,
.movie-grid:hover {
    box-shadow: 0 0 5px #000;
    cursor: pointer;
}

.img-row {
    margin-bottom: 0;
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.text-block {
    margin: 0 auto;
    max-width: 900px;
    padding: 32px 16px;
    color: aliceblue;
    text-align: center;
}

.text-block-rrr {
    margin: 0 auto;
    max-width: 900px;
    padding: 32px 16px;
    color: #0c7500;
}

.text-block-movie{
    background-color: #0f2698;
    margin: 0 auto;
    max-width: 900px;
    padding: 32px 16px;
    color: aliceblue;
    text-align: center;
    border-radius: 10px;
}

.img-row-food {
    position: relative;
    width: 100%;
    height: 65%;
}

.movie-text-preview {
    height: 100%;
}

.wraper-inner {
    margin: 0 auto;
    max-width: 83%;
}

.title-block {
    font-size: calc(1.0875rem + 1.05vw);
    line-height: 1.385;
    text-align: center;
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.md-title {
    font-size: calc(1.05rem + .6vw);
    line-height: 1.385;
    font-weight: 600;
}

.food-grid {
    font-family: League Spartan, Arial;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    width: 95%;
    column-gap: 50px;
}

.container-exclusive-food {
    width: 100%;
    height: 100%;
}

.thumbnail-food {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.img-preview-food {
    background-color: #db4a2b;
    border-radius: 10px;
    height: auto;
    box-sizing: border-box;
}

.food-text-row {
    width: 100%;
    height: 150px;
    color: aliceblue;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.food-text-row p{
    font-size: xx-large;
    font-family: League spartan, Arial;
    margin: 0;
    font-weight: 600;
    padding: 50px 100px 0px 100px;
}

.button-food-information {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    padding: 4px 5px;
}

.button-food-information:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .main-grid,
    .movie-grid,
    .Arcade-grid,
    .rrr-grid {
        grid-template-columns: 1fr;
        overflow: hidden;
    }
}

@media (max-width: 768px) {
    .food-grid {
        grid-template-columns: 1fr;
        overflow: hidden;
        row-gap: 50px;
    }
}