.header {
    font-family: league spartan, Roboto, Arial;
    height: 80px;
    background-color: #FFF8E8;
    color: #3B1F1C;

    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    justify-content: space-between;
    box-sizing: content-box;

    z-index: 100;
}

.left-section {
    display: flex;
    align-items: center;
}

.middle-section {
    display: flex;
    justify-items: center;
    align-items: center;
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.waxpalm-logo {
    width: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

.waxpalm-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.waxpalm {
    font-size: large;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 28px;
}

.waxpalm-div {
    margin-right: 30px;
}

.waxpalm-div:hover {
    color: #1e3932;
    border-bottom: 3px solid #1e3932;
    cursor: pointer;
}

.search-bar {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 5px;
}

.search-icon-button {
    background-color: #3B1F1C;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 0 10px 10px 0;
    align-items: center;
    justify-content: center;
}

.shopping-bag-icon {
    display: flex;
    background-color: transparent;
    height: 30px;
    width: 30px;
    border: none;
    align-items: center;
    justify-content: center;
}

.link-tienda {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon-button img {
    width: 20px;
}



